.form-input {
    font-size: 14px;
    color: black;
    font-weight: 600;
    line-height: 24px;
    padding-left: 8px;
}

.form-input-align-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-input-align-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-input-label {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}